.menubar {
    height: 60px;
    width: 100%;
    background-color: var(--motion-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.menubar_ul {
    float: center;
    margin-left: 50;
}

.menubar_li {
    display: inline-block;
    margin: 0 8px;
    line-height: 60px;
}

.menubar_a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.menubar_input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#menubar_searchIcon {
    font-size: 18px;
    vertical-align: middle; /* Align the image vertically */
    border: 1px solid rgb(63, 63, 63);
    border-radius: 3px;
    cursor: pointer;
}