.section-info {
    margin-top: 60px;
    background: #9cfc47;
    color: #fff;
    padding: 100px 20px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.section-info a{
    color: #fff;
}

.section-info button{
    background: #fff;
    color: var(--motion-primary);
    font-weight: bold;
    border: 30px solid #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section-info img{
    background: #fff;
    width: 60px;
    height: 60px;
}

.section-info.dark-mode {
    background: #68c714;
}